[2019-11-12 16:40] trhallam opened #1 "missings dep"
add dask, tqdm as deps

[2019-11-17 23:03] #1 closed

[2020-06-02 12:02] trhallam opened #2 "Example Ticket....Choose one and open up an issue related to it."
Converting these tickets to issues for more detailed discussion and tracking.

[2020-06-06 07:53] stevejpurves opened #3 "xarray accessor"
http://xarray.pydata.org/en/stable/generated/xarray.register_dataset_accessor.html to allow access to not dimension coordinates  e.g. CDP_X, CDP_Y

[2020-06-06 10:49] stevejpurves opened #4 "The Full F3 SEGY does not load"
using a naive call to
[code]

in a notebook causes the kernel to die after the header scan

file is available here: https://s3.us-east-2.amazonaws.com/seismic.euclidity.com/F3/f3_seismic_full.sgy

[2020-06-06 10:51] stevejpurves opened #5 "The mini F3 dataset loads as a 2D line when naively calling segy_loader"
[code]

file:
https://s3.us-east-2.amazonaws.com/seismic.euclidity.com/F3/f3_seismic.sgy

[2020-06-06 10:53] stevejpurves opened #6 "F3 dataset get_text_header output is bad"
This looks like some type of encoding issue with the segy file, yet its a well known file and a good example of what is out in the wild

[code]

[2020-06-06 11:14] stevejpurves opened #7 "Pretty Print output from get_segy_texthead"
This function returns a the textual header in the form of a single string, but it would be good to have this formatted in a readable way

[2020-06-06 11:15] stevejpurves opened #8 "conda environment"
Should we be providing a conda environment file alongside or in place of the requirements.txt?

[2020-06-06 11:16] stevejpurves opened #9 "Publish to pypi"
Publish to pypi for linux and windows using Github Actions. Python 3.6+

[2020-06-06 11:47] trhallam commented on #6
Can you check this works for you @stevejpurves ?

[code]

Looks like there might be some funny business happening with segyio.

[2020-06-06 12:58] trhallam commented on #6
patched by https://github.com/trhallam/segysak/commit/72b0a6630c397a411227e162b7725bed0532afec, testing required.

[2020-06-06 14:27] trhallam opened #10 "Need to write tests for functions in _seismic_dataset.py"
These tests relate the creation of blank seismic_datasets and should be able to run multiple scenarios.  Might be a good reason to use hypothesis.

Examples would be
[code]

[2020-06-06 14:32] trhallam opened #11 "Example: General manipulations using xarray."
- [x] Create an example where the seismic cube/2d/gathers are cropped by sub-selection.
- [ ] Collapse gathers to a stack using xarray.sum
- [ ] Rename dimensions using xarray.rename_dims
- [x] Examples of selecting over dimensions and dimension ranges using .sel and .isel
- [ ] Filtering data using xarray.where
- [x] Apply numpy functions to a dataset
- [ ] How to apply filters to an xarray effic

[2020-06-06 14:35] trhallam opened #12 "Example: Matplotlib with Xarray"
- [x] Plot seismic iline and xline.
- [x] Plot seismic slice
- [x] Plot gathers
- [x] Plot cdpx and cdpy locations
- [x] Create a polygon box for the dataset
- [x] Create a live trace polygon box for the dataset
- [x] Plot a seismic slice in cdpx and cdpy, not in iline/xline
- [ ] Plot multiple 2d geometries on a map

Add more!

[2020-06-06 14:37] trhallam opened #13 "Example: Rich Header Statistics"
Use the output of `segy_header_scrape` which is a pandas Dataframe to create a set of rich statistics which help users:

- [x] Know which byte files have meaningful information.
- [x] Plot their header information to show trace/iline/xline number directions.
- [x] Identify gaps in their data
- [ ] ...

[2020-06-06 15:08] stevejpurves opened #14 "Get all tests in `tests` to pass"
The pytest tests are not all running, if we can get them updated and green then we can hook them up to a github action and keep them green on PRs

[2020-06-06 15:43] trhallam commented on #14
The tests are currently passing https://github.com/trhallam/segysak/commit/d8c0188d6f2f88d32d0fff7736ea9375a2d8c6d9

[2020-06-06 15:45] trhallam opened #15 "Convert CLI from argparse to click."
Subcomands:
 - [ ] ascii: ascii out of headers/ebcidc
 - [ ] scan: scan headers ebcidc
 - [ ] nc: process netcdf hdf5 input files
 - [ ] segy: process segy input files

 - [ ] Improve README docs to reflect changes.

[2020-06-06 15:48] trhallam opened #16 "Create a nice/pretty printout of the header scan results to help users understand their header."
the function segy_header_scan currently scans the first N traces and returns information about the values in the header fields.

This needs to be beautified and documented so people understand how to use it.

[2020-06-06 16:15] banesullivan commented on #12
Any interest in expanding the viz example to 3D with PyVista?

[2020-06-06 16:26] JesperDramsch commented on #9
https://packaging.python.org/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/

[2020-06-06 17:23] trhallam commented on #4
Managed to fully load the dataset. Might be setup specific.

[2020-06-06 18:47] stevejpurves commented on #16
see PR #17 for an approach on this

[2020-06-06 18:55] stevejpurves opened #18 "Example: loading and visualising a 3D seismic volume"
- [x] read textual header to understand file
 - [x] (optional/when ready) do header scan to check byte locations are populated
 - [x] use segy_loader with byte location dicts
 - [x] visualse data footprint in X/Y
 - visualise an inline / xline / timeslice (this is now done elsewhere?)
 - [x] visualise a trace
 - [x] compute and visualise trace-trace mean shift over the dataset

[2020-06-06 18:55] Gijsbertbas commented on #14
Tests run except for one... this line: https://github.com/trhallam/segysak/blob/71452c8fbd6cfdd0094510c414dda03c0ef56677/tests/test_seismic_segy.py#L156 fails to load [this file](https://github.com/trhallam/segysak/blob/t20-master/tests/test-data-segyio/text-embed-null.sgy) with error mentioned in [this section](http://docs.h5py.org/en/2.3/strings.html#variable-length-ascii) (VLEN strings to not s

[2020-06-06 18:56] stevejpurves commented on #11
@trhallam where you thinking all this in one notebook?

[2020-06-06 19:18] stevejpurves opened #20 "segysak/segy.py is too big and growing, refactor"
Maybe once things settle a bit this should move to a folder and subfile with appropriate __init__.py setup for ipywidgets initialisation and maintaining imports

[2020-06-06 19:23] trhallam commented on #9
Setup some basic workflows to test publish on the dev branch.
Added the API keys for PYPI.

- [ ] need to migrate test workflow to a proper publication workflow at end of week.

[2020-06-06 19:25] #6 closed

[2020-06-06 19:31] Gijsbertbas commented on #15
I started looking at this!

[2020-06-06 19:33] trhallam commented on #15
Got it thanks. I probably wasn't super explicit in what we are looking for, hopefully it is kind of intuitive.

[2020-06-06 19:38] #7 closed

[2020-06-06 19:39] stevejpurves commented on #4
I'll retry this

[2020-06-06 20:45] Gijsbertbas commented on #15
as I understand it the argparse implementation should be replaces by using Click for (at least) the above subcommands

[2020-06-06 21:32] fabioaco opened #22 "Rate of data being read/load"
There is a rate reported as the data is scrapped. The current rate is 'it/s' that stands for iterations per seconds.
Could this be a more meaningful rate? For instance

- trace/second

- bites/second
![image (1)](https://user-images.githubusercontent.com/21201884/83954944-f683c380-a84d-11ea-80ee-8705339eadc8.png)

[2020-06-06 21:33] trhallam opened #23 "Try and decide from the headers if file is 2d/3d/gathers."
This requires someone to thing about dynamic ranges and heuristic views of the data, what questions and logic can software ask to work this out?

[2020-06-06 21:34] trhallam commented on #2
Don't need an example anymore.

[2020-06-06 21:34] #2 closed

[2020-06-06 21:35] trhallam commented on #3
Started by adding the `xarray.seis.xysel` method.

[2020-06-06 21:35] trhallam commented on #5
#23 Will try to fix in this issue.

[2020-06-06 21:36] trhallam commented on #10
Suggest we implement tests here with `hypothesis`. Keen for someone to try this.

[2020-06-06 21:57] trhallam commented on #14
These tests failed due to the addition of pretty strings in notebooks. The strings have to downgraded and upgraded on save to netcdf to avoid errors. https://github.com/trhallam/segysak/commit/003c8076699cd6845c16f6dc3f56544b513d79d0 should address this.

[2020-06-06 22:01] trhallam commented on #22
The default arguments/format for `tqdm` needs to be changed in `segysak.segy` to tell the user more literally what is going on.

[2020-06-06 22:07] trhallam commented on #11
Fabio has kind of started this, but probably needs help and guidance.

[2020-06-06 22:08] trhallam commented on #8
Should test against the gostin env.

[2020-06-06 22:28] trhallam opened #24 "Fix code for return path from xarray to segy"
This is currently failing due to changes in the way the seismic is stored, it also need implementation for
- [x] 2D
- [x] 2D Pre-stack
- [x] 3D Pre-stack

- [x] Tests which convert back segyio segy tests.

[2020-06-06 22:35] trhallam opened #25 "Investigate adding unit support for dimensions/arrays."
matt [Agile]  3 minutes ago
Right, makes sense... Might be worth a chat with @geo_leeman about how they attach units of measure, defined in pint I think, to arrays in MetPy. It's incredibly convenient, because it means instant ft<->m, ft/s<->m/s<->km/s, etc, etc. So it can be done.

[2020-06-07 07:15] stevejpurves commented on #25
the package that was suggested and is used in subsurface https://pint.readthedocs.io/en/0.12/

[2020-06-07 07:25] stevejpurves opened #26 "Example: Extract data from a 3D volume using a horizon surface"
- [x] load 3D twt data
 - [x] load a horizon e.g. top hugin (into an Xarray?)
 - [x] extract data over the horizon into a 2D map
 - [x] extract data over a horizon +/-N ms into a smaller 3D cube

[2020-06-07 07:40] stevejpurves commented on #26
So initial idea is to use the accessor pattern to do this. I'll start by getting a notebook setup and then delve into that.

[2020-06-07 07:46] stevejpurves opened #27 "Start sphinx based documentation"
Start laying out a pattern for documentation using sphinx and get something up on read the docs

 - [x] setup sphinx
 - [x] publish "something" to readthedocs
 - [x] get a link / badge in the readme

[2020-06-07 07:47] trhallam commented on #27
I have a segysak gmail account to register the package. The same account I used for PyPi.

[2020-06-07 07:49] stevejpurves commented on #8
@trhallam we can also be quite free and add the requirements from the example notebooks in here the environments too as the setup.py it what looks after the core package requirements, is that right?

[2020-06-07 07:54] trhallam opened #28 "Arb line coordinates"
We need a function that creates the sampling points for an arbline from a set of coordinates.

If you have a some points A, B & C that don't follow the grid then you will not get nice divisible distances between them. The question is how should we sample the line. Divide by N and have different sampling along each segment (no), try to use average dxdy from the grid (maybe) but this will create fun

[2020-06-07 09:09] trhallam commented on #20
This has been done. Moved `segy.py` into `segy/` with 4 sub files importing to `__init__.py`

[2020-06-07 09:09] #20 closed

[2020-06-07 09:20] stevejpurves commented on #28
We have some example data from volve that came out of Petrel but its a it cryptic and also has many other factors involved like CRS definition etc... whilst it would e nice to be able to extract over an shape we'll stick to simple sets of points in the CRS of the volume for now

[2020-06-07 09:30] #22 closed

[2020-06-07 09:57] stevejpurves opened #32 "Add isModality() functions for downstream tasks"
If modality is the correct term here but it would be easy and useful to add some functions like:

 - is_2d()
 - is_2d_gathers()
 - is_3d()
 - is_3d_gathers()

so that the logic for working that out is encapsulated in the class

[2020-06-07 13:05] Gijsbertbas opened #35 "Cropping via the CLI command breaks"
I get a `TypeError: '<=' not supported between instances of 'numpy.ndarray' and 'str'` from pandas originating from the segy_loader when running `segysak convert examples/data/volve10r12-full-twt-sub3d.sgy --crop 10090 10100 2150 2160`

[2020-06-07 13:58] trhallam commented on #35
see commit https://github.com/trhallam/segysak/commit/4b0b0b500445234cf1ddf5c4600ad529c4826ac7

[2020-06-07 13:58] trhallam commented on #27
https://segysak.readthedocs.io/en/latest/

[2020-06-07 14:32] trhallam commented on #27
The initial bits are done, hopefully we can more than just a default info onto the page sometime this week. @stevejpurves

[2020-06-07 17:37] Gijsbertbas commented on #35
fixed thank you!

[2020-06-07 17:37] #35 closed

[2020-06-07 19:33] Gijsbertbas commented on #10
currently reading [📖 ](https://hypothesis.readthedocs.io/en/latest/)

[2020-06-07 23:30] #9 closed

[2020-06-08 13:57] trhallam commented on #32
Added questions to accessor in `_accessor.py` and implemented tests.

https://github.com/trhallam/segysak/commit/4fd654240ac47a20b50fba339a854c9c4b740c20

[2020-06-08 13:57] #32 closed

[2020-06-08 15:19] trhallam commented on #26
Merging points to a dataframe now ready for testing and discussion https://github.com/trhallam/segysak/commit/2c6b67ec4706a864d56f964e301e1e88120a094d

[2020-06-09 00:12] trhallam commented on #27
These are now looking in much better shape, changes pushed to the `t20-master` branch can be viewed at https://segysak.readthedocs.io/en/t20-master/

[2020-06-09 11:28] trhallam commented on #8
Picking this up due to nbsphinx and rtd requirements.

[2020-06-09 19:27] Gijsbertbas commented on #10
added in #39

[2020-06-09 20:31] trhallam opened #40 "Account for lag time in header"
Sometimes the head field 'LagTimeA' is defined and each trace has a lag. There is also a field in the binary head for first sample which applied a bulk offset. LagTimeA could be used for bulk offset if it is constant but should probably raise an error if not. We might then need an option to ignore lagtime if we include it on loading.

[2020-06-09 22:33] trhallam opened #41 "when loading segy into xarray keep a running record of trace percentiles for plotting"
[code]

The clip value can be used for vmin vmax in imshow and saves us having to calculate it otf later. Which might be expensive for large volumes.

Props to @aadm

[2020-06-09 23:41] #10 closed

[2020-06-09 23:43] #15 closed

[2020-06-09 23:45] trhallam commented on #8
added in https://github.com/trhallam/segysak/commit/a12d5c0e63c7572ca63b5335f52c9a0bf893f3b4

[2020-06-09 23:45] #8 closed

[2020-06-12 15:42] #27 closed

[2020-06-12 15:43] trhallam commented on #26
The example has been updated with a basic workflow but need attention for detail and clarity.

[2020-06-12 20:10] trhallam commented on #41
addressed in https://github.com/trhallam/segysak/commit/be31c3f8c769d60addb4a4575204fb0dc2a3c350

Percentiles are now added as an attribute to the loaded xarray.

[2020-06-12 20:10] #41 closed

[2020-06-13 09:18] trhallam commented on #13
Added example notebook on how to use trace header which are now returned as dataframes for easier use and manipulation.

[2020-06-13 09:18] #13 closed

[2020-06-13 10:20] #16 closed

[2020-06-13 13:43] trhallam commented on #23
https://github.com/trhallam/segysak/commit/db043929cbe246096efd3c26ea42ef2a67eceaf3, had a go at this here. Just checks common bytes fields to see if anything is there. Only adds cdpx and cdpy if the std in those fields is not zero.

[2020-06-13 13:43] #5 closed

[2020-06-13 13:44] trhallam commented on #4
Did this work for you steve?

[2020-06-13 14:09] stevejpurves commented on #4
All fine now,

[2020-06-13 14:09] #4 closed

[2020-06-13 15:07] stevejpurves opened #43 "Logo is broken on pypi"
https://pypi.org/project/segysak/ logo doesn't show up

[2020-06-13 19:19] trhallam commented on #43
Fixes in v0.2.4

[2020-06-13 19:19] #43 closed

[2020-06-13 19:44] stevejpurves opened #49 "Extract data along well track"
It looks like this is a great fit for the exact approach in the xarray docs for advanced interpolation http://xarray.pydata.org/en/stable/interpolation.html#advanced-interpolation

[2020-06-14 10:22] #3 closed

[2020-06-14 10:24] trhallam commented on #12
@banesullivan We've probably covered off a lot of the matplotlib examples but if you can provide some hints on how to do these things with Pyvista that would be great as well.

[2020-06-14 10:25] #26 closed

[2020-06-14 10:26] #28 closed

[2020-06-14 14:23] stevejpurves commented on #18
this should be easy to close out, i'll have a look next

[2020-06-15 12:04] trhallam opened #56 "Complete and Review COC and Contribution Guide"
Borrowed from Verde project as a draft but needs to be modified for this project.

[2020-07-09 10:17] trhallam opened #57 "Investigate whether segyio Group class can be used to speed up reading (non-3d) data."
segyio added a file accessor called Groups which can be used to access traces common header key values.

[code]

[2020-07-09 15:08] fr1ll commented on #57
What can I do to help with this? As an outcome, would you want a documentation example, or something else? I already have a variety of publicly available shot-ordered data on disk at the moment that I had planned to test reading into `segyio`.

[2020-07-10 10:56] trhallam commented on #57
Hi @fr1ll , there are functions to read pre-stack data into netcdf and xarray here
https://github.com/trhallam/segysak/blob/fe42e8ccf28463454ecd24cee3d75093518930a2/segysak/segy/_segy_loader.py#L194-L203
and here
https://github.com/trhallam/segysak/blob/fe42e8ccf28463454ecd24cee3d75093518930a2/segysak/segy/_segy_loader.py#L321-L328

Currently, these work by scanning trace headers first and then us

[2020-07-11 04:45] fr1ll commented on #57
@trhallam thanks for the details. I need to look at `Group` a bit and try it out, but I think it makes sense to me... The user could specify a number of sort keys, then `segysak` can scan the trace headers and determine the maximum size of an array. (Since `Group` is just a dict, that's just the maximum size of a value of the dict.)

We can expect that most arrays will not be the maximum size--jus

[2020-07-11 08:06] trhallam commented on #57
So `xarray` basically supports any number of orthogonal axes which are usually sequential and 1 dimensional. They can be but don't have to be equispaced. For the purposes of seismic data, these means that empty traces must still be filled with at least NaN because as far as I know, `xarray` doesn't support partial population of data along dimensions. This is kind of why we have a trace by trace ap

[2020-07-11 12:17] trhallam opened #58 "Investigate Loading data as float32 not float64 (default)."
Currently data seems to be loaded as float64 for xarray, this may be unnecessary from segy because the data will only have 32bit precision. This might explain why seisnc files are coming out larger in some cases than the equivalent segy.

[2020-07-13 02:24] fr1ll commented on #57
I'd say most field data will have gaps, but there will still be a regular numbering scheme. I think `segysak` could still read in as groups with a tolerance for how many NaNs to create. Something like this:

1. Compute the set of values for each axis
2. Compute all the combinations of these values
3. Determine how many of these combinations are missing from the input -- i.e. how many NaNs you'd cr

[2020-07-13 08:16] trhallam commented on #57
Generally I think this sounds OK. I feel like it might not fit into the current segysak `segy_loader` function very easily though. We should probably consider creating a special loader function for shot-gathers because these are quite a specific data type which differ a lot from processed products which are what we have focused on so far. We also need to work out how you are doing to label dimensi

[2020-07-13 13:42] fr1ll commented on #57
Yeah sounds great! This should be enough to start hacking around with it.

[2020-07-14 08:10] trhallam opened #59 "Improve segy writer"
Current segy writer function `ncdf2segy` is pretty limited and needs improvements.

- [x] Add support for more than just 2D
- [x] Add support for 2D gathers
- [x] Add support for 3D gathers
- [x] Add option to only export live traces (Avoids NaN error on coords).
- [x] Ensure segy export even if header fields are empty.
- [x] Fix exported default text header to include references to segysak
- [x]

[2020-07-23 21:06] trhallam commented on #58
Fixed in https://github.com/trhallam/segysak/commit/a269ef82bc394a58fcfb13f22836037f9a1ce416 to load in 32bit by default for all methods.

[2020-07-23 21:06] #58 closed

[2020-08-07 14:11] #24 closed

[2020-08-07 14:11] trhallam commented on #24
Completed

[2020-08-17 04:33] fr1ll commented on #57
I've been thinking about this a bit more as I've been reading in some OBN data. I'd say it's a pretty common situation that your gather key (something like 'shot_number') increments irregularly. You might have an increment of 3 for part of the line, then 4 for other parts... You might have something even stranger than that. Lots of seismic data is locked up in SEG-Y's with irregular schemes like t

[2020-08-17 11:41] trhallam commented on #57
Hi @fr1ll let's definitely have a chat soon. I appreciate you looking into this.

One way around the dead trace issue might be to use sparse representations using:

- https://sparse.pydata.org/en/latest/index.html , and
- https://github.com/pydata/xarray/issues/3213, it looks like `xarray` will support or already supports these. This could significantly reduce memory/disk usage without needing to

[2020-08-25 14:49] trhallam opened #61 "direct segy interaction"
After performing a full header scan it is possible to interact directly with segy. Perhaps there is scope to explore a new class in segysak that makes some of the functionality of `xarray` or `pandas` available to the user to access segy in a more straight forward way. This would remove the need for hdf5 conversion on simple use cases and potentially help users quickly explore or modify their segy

[2020-09-09 08:38] aadm opened #62 "`fill_cdpna()` causes crash in output"
With an input data read from netcdf via dask, applying `fill_cdpna()` causes an error when writing back the file to netcdf.

One solution is to 'realize' the data and then outputting to disk, e.g.:

[code]

But this is not applicable if the data size is very large (it would crash simply because there is not enough ram to hold the data in memory).

Example:

[code]

Resulting error log copied from

[2020-09-09 21:34] trhallam commented on #62
Thanks @aadm I'm not sure if this can be fixed but I'll have a look. An alternative option for us that is probably simpler is to allow `fill_cdpna()` to be run during the conversion process, and then it would be implicit in the NetCDF4 file. It is a little frustrating that it is not super easy to modify parts of `NetCDF4` on disk.

One option I might get you to try. Is open the file without using

[2020-10-20 08:49] trhallam opened #64 "catch bad segyio Enum prior to loading/scanning"
If the Enum is not valid for SEGYIO then it should be caught and an error raised prior to scanning to catch user input errors.

For example, here 194 is a typo and should be 193

[code]

[2020-12-18 19:57] banesullivan opened #67 "Notebooks committed with merge conflicts"
https://github.com/trhallam/segysak/blob/a798d28ec6769c9914617b932bf3c67e12d50ea1/examples/notebooks/example_loading_and_visualising_3d_data.ipynb#L42-L58

(and more in this file...)

Was hoping to use segysak to answer this question over in PyVista: https://github.com/pyvista/pyvista-support/issues/320

[2020-12-18 19:59] banesullivan commented on #12
Figured I should finally get around to this

FYI: https://github.com/pyvista/pyvista-support/issues/320

[2020-12-20 14:30] #18 closed

[2020-12-20 18:38] #67 closed

[2021-01-15 13:28] adamchengtkc opened #70 "surface_from_points with 2D data"
Is there a way to adjust the interpolation distance of points to a 2D line?
Say I have 2 parallel 2D lines, in separate survey A & B. I have a horizon interpreted on B. When I load survey A in segysak and use surface_from_points to plot the horizon, segysak will project horizon drawn on B and plotted on A

Nice if we can set the maximum distance to project on points to 2D seismic

Thanks

[2021-01-15 13:48] trhallam commented on #70
Hi @adamchengtkc , `surface_from_points` is primarily designed to work when the surface intersects the line. I think what `xarray` is doing here is using the nearest points to the line in the projection. My suggestion would be to use the x and y coordinates to calculate the distance, and then apply this as a mask to your survey A interpretation.

[2021-01-16 16:54] trhallam opened #71 "docs failing"
I think due to the size of the auto notebooks rtd times out during the build.

I like the fact that notebooks can be built during the doc build because it checks them for inconsistencies with changes in the codebase.

Alternative options at the moment would be github pages perhaps or pre-building the notebooks with gh actions as part of the testing so they can be published as artifacts a la https:

[2021-01-17 18:56] adamchengtkc commented on #70
Thanks.will try your suggestion.

[2021-01-17 18:56] #70 closed

[2021-01-23 12:20] trhallam commented on #71
This has been fixed in https://github.com/trhallam/segysak/pull/73

[2021-01-23 12:20] #71 closed

[2021-04-18 08:02] trhallam opened #75 "Volume with nans returns nan with percentiles"
If the segy volume has dead traces or nan values in it percentiles does not work.

NaN values will need to be filtered before adding nan values.

Could also include an attribute to count the number of real values in a cube.

[2021-04-18 19:04] trhallam commented on #59
NaN export skip added with `segy_freewriter`.
group based io not really helpful as specific chunks can be specified with `segy_freewriter`.

[2021-04-18 19:04] #59 closed

[2021-04-18 19:05] #56 closed

[2021-04-18 19:05] #40 closed

[2021-04-18 19:08] #14 closed

[2021-04-18 19:09] trhallam commented on #57
Going to ignore this from `segyio` as it isn't helpful. The segy_freewriter fixes some of the chunking issues.
Look towards using `sparse` package COO structure for irregularly sampled data.

[2021-04-18 19:09] #57 closed

[2021-04-20 08:29] Zabamund opened #78 "Typo in segy_loader Args"
In `segy_loader`'s docstring, this line:

`xline (int, optional): Cross-line byte location, usally 193` has a typo in "usally"

[2021-04-20 11:04] trhallam commented on #78
Fixed in https://github.com/trhallam/segysak/commit/110e16d9a0c9e476a3f4c0b3f0d8c0b10586c536

[2021-04-20 11:04] #78 closed

[2021-04-21 19:33] #11 closed

[2021-04-21 20:51] #12 closed

[2021-04-22 09:41] trhallam commented on #49
Example added in https://github.com/trhallam/segysak/commit/b5ab8e0aa3dbd5906296039c7746f5ab16ca33b7 to arbitrary_line_extraction

[2021-04-22 09:42] #49 closed

[2021-04-23 11:05] trhallam commented on #75
@stpotter16 thanks for submitting a PR, even though we didn't end up using it.

If you have any others, feel free to submit them.

[2021-04-23 11:07] trhallam commented on #64
@stpotter16 thanks for submitting a PR, even though we didn't end up using it.

If you have any others, feel free to submit them.

[2021-04-23 11:07] #64 closed

[2021-04-23 11:13] stpotter16 commented on #64
No problem! I don't have any at the moment, but I might grab #75 later in my day if you don't get to it.

[2021-06-11 01:18] JayFu opened #93 "fail to convert a 2D sgy file into dataframe"
thanks for the barvo job.

I got a 77.9 MB sgy file and I was trying to open it as doc **_Vectorisation_**  goes.

But it seemed that python was killed due to memory issue.

Here is the lines.

`from segysak.segy import segy_loader, well_known_byte_locs, segy_writer

volve_3d_path = pathlib.Path("./2dshot.sgy")

volve_3d = segy_loader(volve_3d_path, **well_known_byte_locs("petrel_3d"))

100%|█████

[2021-06-11 07:34] trhallam commented on #93
Hi @JayFu , you will need to change the arguments to `segy_loader` so that the data is imported as 2d.

From the file name I assume that the data is 2d shot gathers so you will need to specify the byte locations for the cdp numbering and the offset.

Use the function `segy_header_scan` to work out which bytes contain the appropriate header information.
[code]

[2021-06-11 08:33] JayFu commented on #93
This help a lot, thanks!

I am new to seismic data because of work. I think I should go to read some seismic introduction.

I close this Issue, thank you for the help

[2021-06-11 08:33] #93 closed

[2021-06-29 15:03] trhallam opened #101 "dependencies import error - more_itertools"
please can you help me I want to read segy header and using your code, but

from segysak.segy import get_segy_texthead

it does not work and it give me

ImportError: cannot import name 'split_when' from 'more_itertools' (/Users/karimcherouana/opt/anaconda3/lib/python3.7/site-packages/more_itertools/__init__.py)

_Originally posted by @ckarim2 in https://github.com/trhallam/segysak/issues/68#issuec

[2021-06-29 15:06] trhallam commented on #101
@ckarim2

Please create new issues, your question was not related to the issue you posted in.

ImportError means you are missing Python modules from your installation. Did you install `segysak` using pip, because this will resolve all the dependencies. If you are doing a manual install then for each import error you will need to find and install the correct packages. Your error specifically relate

[2021-06-29 15:06] #101 closed

[2021-07-11 08:45] lvdai15621 opened #102 "0.3.1 segy_writer bug"
error out:   'FrozenDict' object does not support item assignment
0.3.0 with no similar error.

[2021-07-11 09:07] trhallam commented on #102
Can you provide more details about how you are generating this error please?

What arguments are you passing to the function? What is the full stack trace of the error? Do you have a minimum reproducible example that generates the error (https://stackoverflow.com/help/minimal-reproducible-example)?

[2021-07-15 09:44] lvdai15621 commented on #102
I import segy_writer at the beginning:  "from segysak.segy import segy_writer"

error occurs at the code : "segy_writer(self.seisnc, export_path, trace_header_map=self.trace_header_map)" ( I have established a class based on segysak)

"trace_header_map" is descibed as:

 self.trace_header_map = {
            'iline': self.head_dict['iline'],
            'xline': self.head_dict['xline'],

[2021-07-15 12:24] trhallam commented on #102
Ok, I think this got identified and fixed after the release but I didn't get around to publishing it. Can you please update to 0.3.2 and try again?

[2022-01-11 05:27] salsa360 opened #104 "Visualizing VSP data"
Hi Tony,

How do I display/plot VSP data using segysak?

Cheers
Kush

[2022-01-11 08:20] trhallam commented on #104
Hi,

Have you managed to load the vsp data with segysak? If so, then you can use the plotting methods described in the documentation or the tutorial.

[2022-01-11 09:52] salsa360 commented on #104
Hi Tony,

I loaded the VSP data OK as shown in the attachment and I've tried to
modify your gather display to show the VSP display:

VSP = segy_loader(source + file, cdpx=73, cdpy=81, vert_domain="TWT")
   #  This runs OK.

#  Display VSP
fig, axs = plt.subplots(figsize=(20, 10))
axs.imshow(
    VSP.isel(cdp=10)
    .data.stack(stacked_offset=("cdp", "twt"))
    .values,
#    twt = 3000,
    cmap=

[2022-01-11 10:06] trhallam commented on #104
If you reply to Github issues via email you can't add attachments. Perhaps better to have the discussion here

https://swung.slack.com/archives/C01472D5QGP

It's not clear to me why `VSP` raises a `NameError` here, but I suspect you are not loading the data correctly.

[2022-02-04 11:36] trhallam opened #105 "Implement `pyzgy` for ZGY files as `segyio` drop in replacement."
Moving issue from tutorial page to actual repository.

https://github.com/trhallam/segysak-t21-tutorial/issues/3#issue-1122223537

[2022-02-04 11:39] trhallam commented on #105
@musiczhzhao I'm sorry but this isn't a priority for me right now. I wasn't actually aware anyone was using the ZGY functionality in Segysak.

I am happy to accept pull requests if you would like to add the functionality. The idea is to minimise memory usage by streaming data from one format to the other.

Does the current functionality not work for your large files?

[2022-02-04 13:00] da-wad commented on #105
@musiczhzhao If you're looking for a pip-installable Python package to look at a small subset of data from ZGY files may I recommend taking a look at pyZGY: https://github.com/equinor/pyzgy

Actually, @trhallam, this package would probably make ZGY support easier to implement for SEGY-SAK as the installation is simple and the syntax mirrors segyio :-)

[2022-02-04 13:12] trhallam commented on #105
@da-wad , that's cool! I didn't know about this package. Definitely happy to devolve zgy handling to `pyzgy` at some point. Probably just needs some drop in changes to the main part of `segysak.segy`.

[2022-02-04 14:00] da-wad commented on #105
With a brief glance at _segy_loader.py it looks like the only thing missing from the pyZGY segyio-mimicing interface which you use there is mmap() which could be skipped for ZGY, or implemented in pyZGY as a function returning False if you wanted to keep it strictly drop-in...

The implementation of mirroring segyio.trace does include some caching so that you're not re-reading the same bricks over

[2022-02-04 15:09] trhallam commented on #105
Sounds good.

Just a thought, `mmap` is meant to improve performance in segyio when reading large datasets. Maybe this function could be used to set the cache size with a sensible default keyword argument? Perhaps a bit obscure in terms of the name but it would then be consistent with segyio.

[2022-02-06 11:14] trhallam opened #106 "Documentation: Add comments in FAQ and elsewhere regarding exporting of non-convertable values for header."
Values being exported to the segy header must be converted to int before they can be written. If they cannot be written an error is raised.

- [ ]  Improve the error information raised when this fails.
- [ ] Improve documentation so that users are aware the int conversion takes place.

[2022-02-06 11:17] trhallam opened #107 "Look into zarr and zfp support,"
See if HDF support can also include zarr and zfp support via xarray.

[2022-02-06 11:18] trhallam opened #108 "Improve support for sparse volumes"
xarray had limited sparse volume support at last check, see if this has been improved recently and map out whether it can be added to segysak.

[2022-02-06 11:20] trhallam commented on #102
Closing, no feedback from user.

[2022-02-06 11:20] #102 closed

[2022-02-06 11:21] trhallam commented on #104
**bump** @salsa360

[2022-02-14 14:37] musiczhzhao commented on #105
Hi @trhallam! Sorry for late response. The current functionality works fine when the whole segy can fit in the memory, but will encounter issue when the size became large.

I am happy to implement this feature, if I can have more information regarding the overall design of the package. Currently as I can see the functionalities of the segy and zgy are separated and data were converted to an intern

[2022-02-14 14:55] da-wad commented on #105
Hi @musiczhzhao ... that is correct, although the openzgy package which pyZGY adapts to segyio-like syntax _does_ support writing. So it would be possible to build this functionality too, and I'm open to PRs :-)

[2022-02-15 09:04] trhallam commented on #105
Hi @musiczhzhao

ZGY was a bit of an after thought so it is in it's own area at the moment. The fact that `pyzgy` mirrors `segyio` though is an opportunity to leverage much of the existing `segysak.segy` code. We'll want to preserve the current structure but see if we can create some shared code under the hood.

The current model has some dispatch functions at the top level like `segy_loader` whic

[2022-02-15 14:15] da-wad commented on #105
ZFP is still _nearly_ in numcodecs. The blocker is lack of macOS wheels, which I can understand their need for. However, the old Travis CI/CD setup for zfpy with multibuild made it difficult and fragile to implement. Now https://github.com/LLNL/zfpy-wheels is using **cibuildwheel** through Github Actions it _should_ be trivial™ to start building those and numcodecs can get on with their magic! (Se

[2022-03-24 19:16] musiczhzhao commented on #105
Thanks @trhallam and @da-wad for the details! Sorry didn't respond earlier as I was on something different.

Is there any suggestions on the easiest approach to drop pyzgy for segyio in the segysak.segy part of the software and see what breaks? I saw that segyio has been imported & used in many places and not sure a straight replacement of segyio with pysegy is a proper way. Also I am assuming no

[2022-03-24 22:44] trhallam commented on #105
Hi Zhao,

I would simply start by replacing statements that say

[code]
with
[code]
and see what works and what breaks, are things missing from `pyzgy` that mirror the `segyio` behaviour.
[code]

[2022-03-24 23:22] trhallam commented on #105
@da-wad does `pyzgy` support writing to `ZGY` at this time? I couldn't see any write methods in the source.

[2022-03-25 05:54] musiczhzhao commented on #105
Thanks @trhallam for the brilliant idea! Will definitely give a shot.

By irregular I mean different subline have different number of crosslines. "Missing traces" is a better way to understand probably. I do try to use this tool to do some experimental data conversion and I personally don't have convenient access to Schlumberger software unfortunately.

Can you help me to better understand the cur

[2022-03-25 07:30] trhallam commented on #105
OK, well this problem is quite different to your original question.

If you are having trouble loading data with missing traces it is likely you don't have the right byte locations specified on the loader.

Zgy as I understand it doesn't support dead traces because the regular geometry is fundamental to the underlying storage implementation. There may be some internal optimisations for size but th

[2022-03-25 07:42] da-wad commented on #105
@trhallam correct, pyzgy does not currently support writing ZGY files.

Regarding irregular 3D SEG-Y files, these could be converted to ZGY format if padded with zeroed traces so that they become regular.

I think it would be easier to give good advice to @musiczhzhao if he explains what he wants to achieve and why?

[2022-03-25 07:48] trhallam commented on #105
`segysak` already does this padding with zeros as long as the iline/xline byte locations specified can be used to create the full 3D volume grid.

[2022-04-08 10:47] AlexanderJuestel opened #109 "ValueError when writing 2D seismic data to file after reprojecting coordinates"
Hello,

I am receiving a `ValueError` when replacing the original CDP coordinates with reprojected coordinates and then trying to save the data set again.

- Saving the unchanged segy works without any issues
- I also tried it with using only 9 characters as in the original data

I have attached the notebook and the data, the data can be freely downloaded from https://www.nlog.nl/index.php/en/node

[2022-04-08 13:42] trhallam commented on #109
So I've downloaded your data and tried to run an import export workflow.

The following appears to work for me

[code]

Can you try removing relative paths, ensure the call to `segy_writer` is the same as mine here.

This is what the loaded data looks like for me:
[code]

[2022-04-08 13:57] trhallam commented on #109
Ok, Sorry, I didn't see the notebook. This cell is your issue

[code]

When you assign numpy arrays back to and xarray Dataset it doesn't know how to interpret the dimension of what you are assigning. The assign operation overwrites any variable that was there before, so previous variables are ignored. What xarray does when it doesn't have the dimension specified is it creates a new dimension with

[2022-04-08 15:46] AlexanderJuestel commented on #109
Hey,

I tried both ways but when reloading the data just one cell below it is all `NaN` values even though the coordinates were changed, see screenshot. I also tried changing the trace_header_map but I am still getting NaNs.

I am starting to doubt my Python skills :D

![image](https://user-images.githubusercontent.com/45469915/162476700-e8114e3e-379c-4d34-b389-f72d57cfb1d1.png)

[2022-07-18 11:47] Tdarnell opened #110 "segy_loader failing to broadcast input array shape during conversion"
Platform: Anaconda 3.8.12, windows 10
Segysak version: 0.3.4

I am encountering this error on some of my 2D sub-bottom profiler SEGY files whilst trying to load with segysak. It seems to depend on the orientation on the acquired segy files, as alternating files load fine.

[code]

[2022-07-18 13:11] trhallam commented on #110
It looks like there is an error in the size of the xarray calculated and the number of traces in your file.

Can I ask if the CDPs are numbered backwards in the bad file?

[2022-07-18 13:51] Tdarnell commented on #110
The CDP's are not numbered backwards, in this file they start at 7724 and end at 8641, I unfortunately can't share the files as an example of this issue. They are out of sync by 1 with the trace sequence numbers if that matters? (byte 1-4, I tried using these bytes as the CDP and it made no difference).

[2022-07-18 14:07] trhallam commented on #110
Ok, another issue might be if you have duplicate offset values in your data, or if your data contain pilot traces, which are not part of the geometry.

If you load all the header data using `segy_header_scrape` you can look for problems with the header information and correct these before loading.

The last thing you can do is try to load the data just as 2D, without broadcasting into orthogonal d

[2022-10-03 03:43] pasha9999 opened #112 "Documentation fro header re-map trace headers"
Hello!

I am trying to read a SEG-Y file with non-standard header positions for the CDP coordinates (cdp_x 4-byte integer at byte 201, for example). I found that I can set it up using [segysak.segy.well_known_byte_locs](https://segysak.readthedocs.io/en/latest/generated/segysak.segy.well_known_byte_locs.html) but did not find any examples for format description. Can you, please, provide one - or l

[2022-10-03 08:46] trhallam commented on #112
There is an example here specifying the byte positions to the loader https://segysak.readthedocs.io/en/latest/examples/QuickOverview.html#Load-SEG-Y-data.

The API also lists the keyword arguments for `sey_loader` https://segysak.readthedocs.io/en/latest/generated/segysak.segy.segy_loader.html#segysak.segy.segy_loader

In general, any `kwarg` with a byte position can be passed and it will be loade

[2022-10-03 08:58] pasha9999 commented on #112
Thank you very much!

 

 
 
--
pavel shashkin
Отправлено из Почты  Mail.ru
 

[2022-10-07 15:12] #112 closed

[2022-10-21 05:26] musiczhzhao commented on #105
Thanks Tony!

Definitely will try this out and let you know how it works out!

Best,
Zhao

On Fri, Oct 7, 2022 at 10:24 AM Tony Hallam ***@***.***>
wrote:

--
Sent from Gmail Mobile

[2022-11-11 13:14] aadm opened #113 "suppress tqdm warning"
When using segysak within jupyter-lab there is an annoying warning on import issued from tdqm:

[code]
By modifiying line 7 in `segysak/segy/_segy_core.py` from

[code]

to one of these two alternatives:

(A)
[code]

(B)

[code]

the warning is suppressed.

As there are two alternatives and I have no good grasp of how tqdm works I hesitate on creating a pull request.